<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title> Lease.me</title>
  <center>
    <h1> Lease.me </h1>
    <h2> The only destination for all your UVa sub-leasing needs </h2>
  </center>
</head>
<body><center>
  <br>
  <br>
  
  <h3>
    {% if data.listing.sold %}
      This listing has already been sold
    {% else %}
      Still Available!
    {% endif %}
    <br>
    Seller: {{data.user.first_name}} {{data.user.last_name}}
  </h3>

  <h4>
    Address: {{data.listing.address}}
    <br>
    Available from: {{data.listing.start_date}} to {{data.listing.end_date}}
    <br>
    Price: ${{data.listing.price}}
    <br>
    Bedrooms: {{data.listing.num_bedrooms}}
    <br>
    Bathrooms: {{data.listing.num_bathrooms}}
    <br>
    {{data.listing.description}}
  </h4>

</center></body>
