<!doctype html>

<html lang="en">
<div>
<head>
  {% block header %}
  <meta charset="utf-8">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">

  <title> Lease.me</title>

  <center>
    <div style="background-color: lightblue; position: relative; top: -20px;">
      <br>
      <h1 style="font-family: 'Lobster', cursive; font-size: 500%;"> Lease.me </h1>
      <h2 style="font-family: 'Alegreya', serif;"> The only destination for all your UVa sub-leasing needs </h2>
      <br><br>
    </div>

  </center>
  {% endblock %}
</head>
</div>

<body style="background-color: #ffd289;">
  <center>

{{html |safe}}<br>
<form action="/">
    <input type="submit" value="Go Home"/>
  </form>

<div>  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

</div>
</center>
</body>
