<!doctype html>
{% extends "base.html" %}

<html lang="en">
<head>
{% block header %}
{% with logged_in as expectedVarName %}
  {{block.super}}
  {% endwith %}
{% endblock header %}
</head>
{% block content %}

<body style="background-color: #ffd289;"><center>
<center>
  <h2 style="font-family: 'Lobster', cursive; font-size: 350%;"> {{data.0.first_name}} {{data.0.last_name}}</h2>
  <img src="https://www.1plusx.com/app/mu-plugins/all-in-one-seo-pack-pro/images/default-user-image.png" style="width:256px;height:256 px;"/>
  <h2 style="font-family: 'Alegreya', serif;"> Contact me at {{data.0.email}} </h2>
  <form action="http://localhost:8000/">
      <input type="submit" value="See More Listings" />
  </form>
</center>
</body>
 {% endblock %}
