<!doctype html>

<html lang="en">
<body style="background-color: #ffd289;">


<head>
  {% block header %}
  <meta charset="utf-8">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">

  <title> Lease.me</title>

  {% endblock %}

</head>

<center>
{% block content %}
    <h1>Login</h1>
    <form method="POST" class="post-form">
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Login</button>
    </form>
    <form action="/">
        <button type="submit" class="save btn btn-default"> Go Home</button>
    </form>
{% endblock %}

</center>


</body>

<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

<br>
