<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}
    <h1>Login</h1>
    <form method="POST" class="post-form">
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Login</button>
    </form>
{% endblock %}
</body>

<form action="http://localhost:8000/">
    <input type="submit" value="Go Home"/>
  </form>
